html, body, .wrapper {
    height: 100%;
    margin: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
}

.box {
    flex: 1;
    background: ivory;
    border: 1px solid hsl(55, 36%, 78%);
}

.CodeMirror {
    border: 1px solid #eee;
    height: auto;
}